main/resources/xmlDataFiles/Templates/CapitalReturn/ASX_AU_CA_evnt_706_001_03_seev_031_001_08_sup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Message name: seev.031.001.08
URL: https://www2.swift.com/mystandards/#/mx/seev.031.001.08
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-08-05T23:07:57+00:00
ISO 20022 version : 2004
-->
<!---->
<xs:schema xmlns="urn:asx:xsd:xasx.706.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:asx:xsd:xasx.706.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AdjustmentType_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdjustmentType_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="CCDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ASX Code Change</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BNDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bonus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CODA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Consolidation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Dividend</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entitlement (Non-Renounceable)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Interest Payable</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Call</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Application Money</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RRDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rights (Renounceable)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Share Split</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Capital Return</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAmountDetails_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAmountDetails_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EqvtLclAmtAnncmntDt" type="DateFormat22Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equivalent Local Amount Announcement Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfEqvtLclAmtAnncmntDt" type="TypeOfAmount4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeOfEquivalentLocalAmountAnnouncementDate</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LdgmntOfSctyHldrRsltnDt" type="DateFormat22Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LodgementOfSecurityHolderResolutionDate</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfLdgmntOfSctyHldrRsltnDt" type="TypeOfDate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeOfLodgementOfSecurityHolderResolutionDate</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat22Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat22Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DiaryAdjustments_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DiaryAdjustments_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AdjstmntTyp" type="AdjustmentType_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment Type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdjstmntDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdjstmntSbjctScrty" type="SecurityIdentification19__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment Subject Security</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstmntObjctScrty" type="SecurityIdentification19__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment Object Security</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="evnt706SuplDataV01" type="evnt706SuplDataV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntitlementSD1_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntitlementSD1_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SelctvInd" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SelectiveIndicator</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3UpperCaseAlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3UpperCaseAlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an upper case alphanumeric string with a length of three characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InstrumentIdentificationType_ASX_1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InstrumentIdentificationType_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstrumentIdentificationType_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">INFO</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer is INFO.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Issuer_ASX1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Issuer_ASX1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal entity that has the right to issue securities.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegdNbTp" type="RegisteredNumberType_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegisteredNumberType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Registered number type of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegnNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Equivalent, unique number of the entity for the Registered Number Type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssrId" type="Exact3UpperCaseAlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ASX Issuer Code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max50Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 50 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegisteredNumberType_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegisteredNumberType_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="ABNX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australian Business Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACNX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australian Company Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australian Registered Body Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARSN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australian Registered Scheme Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max50Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfAmount4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeOfAmount4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification or qualification of the type of amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Actual</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Estimated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Estimated amount (the final amount could be above or below).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfDate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeOfDate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether a date is actual or estimated.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Actual</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date / date and time is the actual date / date and time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Estimated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/date and time is estimated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="evnt706SuplDataV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">evnt706SuplDataV01</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ASXevnt706SD1" type="evnt706_SupplementaryDataEnvelope2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">evnt706SuplData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The supplementary xml segment is sent by ASX to it's community. This is an extension used by ASX and its community to provide supplementary data to the CorporateActionNotification variant 001, which is the version that does not restrict for coexistence of ISO 15022 and ISO 20022 definitions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="evnt706_SupplementaryDataEnvelope2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">evnt706_SupplementaryDataEnvelope2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The supplementary xml segment is sent by ASX to it's community. This is an extension used by ASX and its community to provide supplementary data to the CorporateActionNotification variant 001, which is the version that does not restrict for coexistence of ISO 15022 and ISO 20022 definitions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Issr" type="Issuer_ASX1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity that has the right to issue securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtsAndAmtsDtls" type="DateAmountDetails_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Dates And Amounts Details</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DryAdjstmntDtls" type="DiaryAdjustments_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Diary Adjustments Details</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EntlEvntDts" type="EntitlementSD1_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entitlement Further Details</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
