main/resources/xmlDataFiles/Templates/CapitalReturn/ASX_AU_CA_evnt_701_001_02_head_001_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ASX
Collection: ASX_AU_CA_evnt
Usage Guideline: 701_001_02_head_001_001_01
Base Message: head.001.001.01
Date of publication: 08 March 2019
URL: https://www2.swift.com/mystandards/#/mp/mx/_IJUg4CNUEemCvYqwfxWbjQ/_NaciICvtEemTHN2MNSdfoA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-03-08T01:06:35+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AppHdr">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BusinessApplicationHeaderV01">
					<xs:anyAttribute namespace="##any" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">AnyBICIdentifier</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BusinessApplicationHeaderV01">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">BusinessApplicationHeaderV01</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">The Business Layer deals with Business Messages. The behaviour of the Business Messages is fully described by the Business Transaction and the structure of the Business Messages is fully described by the Message Definitions and related Message Rules, Rules and Market Practices. All of which are registered in the ISO 20022 Repository.&#xD;
A single new Business Message (with its accompagnying business application header) is created - by the sending MessagingEndpoint - for each business event; that is each interaction in a Business Transaction. A Business Message adheres to the following principles:&#xD;
" A Business Message (and its business application header) must not contain information about the Message Transport System or the mechanics or mechanism of message sending, transportation, or receipt. &#xD;
" A Business Message must be comprehensible outside of the context of the Transport Message. That is the Business Message must not require knowledge of the Transport Message to be understood.&#xD;
" A Business Message may contain headers, footers, and envelopes that are meaningful for the business. When present, they are treated as any other message content, which means that they are considered part of the Message Definition of the Business Message and as such will be part of the ISO 20022 Repository.&#xD;
" A Business Message refers to Business Actors by their Name. Each instance of a Business Actor has one Name. The Business Actor must not be referred to in the Transport Layer.&#xD;
Specific usage of this BusinessMessageHeader may be defined by the relevant SEG.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fr" type="Party9Choice__1">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">From</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#xD;
&#xD;
Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="Party9Choice__2">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">To</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#xD;
&#xD;
Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizMsgIdr" type="Max35Text">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">BusinessMessageIdentifier</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgDefIdr" type="ISOMessageIdentifierText_ASX_1">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">MessageDefinitionIdentifier</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Contains the MessageIdentifier that defines the BusinessMessage.&#xD;
It must contain a MessageIdentifier published on the ISO 20022 website.&#xD;
&#xD;
example	camt.001.001.03.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizSvc" type="Max35Text">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">BusinessService</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Specifies the business service agreed between the two MessagingEndpoints under which rules this Business Message is exchanged.&#xD;
 To be used when there is a choice of processing services or processing service levels.&#xD;
Example: E&amp;I.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDt" type="ISONormalisedDateTime">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">CreationDate</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Date and time when this Business Message (header) was created.&#xD;
Note Times must be normalized, using the "Z" annotation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Exact5NumericText">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Exact5NumericText</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Specifies a numeric string with an exact length of 5 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericOrganisationIdentification1__1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">GenericOrganisationIdentification1__1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Information related to an identification of an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Exact5NumericText">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISOMessageIdentifierText_ASX_1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">ISOMessageIdentifierText_ASX_1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">ISO 20022 Message identifier of an EIS message.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z0-9]{5,6}){0,1}[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">ISONormalisedDateTime</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">an ISODateTime whereby all timezoned dateTime values are UTC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Max140Text</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Max35Text</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification7__1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification7__1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">AnyBIC</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Code allocated to an institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification7__2">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification7__2</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">AnyBIC</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Code allocated to an institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericOrganisationIdentification1__1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Other</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unique identification of an organisation, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party10Choice__1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Party10Choice__1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification7__1">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party10Choice__2">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Party10Choice__2</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification7__2">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party9Choice__1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Party9Choice__1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Identification of a person, an organisation or a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="PartyIdentification42__1">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Identification of a person or an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party9Choice__2">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">Party9Choice__2</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Identification of a person, an organisation or a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="PartyIdentification42__2">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">OrganisationIdentification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Identification of a person or an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42__1">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">PartyIdentification42__1</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Set of elements used to identify a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Name</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="Party10Choice__1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42__2">
		<xs:annotation>
			<xs:documentation xml:lang="EN" source="Name">PartyIdentification42__2</xs:documentation>
			<xs:documentation xml:lang="EN" source="Definition">Set of elements used to identify a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Name</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="Party10Choice__2" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
					<xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>