main/resources/xmlDataFiles/Templates/CapitalReturn/ASX_AU_CA_evnt_706_001_03_seev_031_001_08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ASX
Collection: ASX_AU_CHS_evnt_tobe
Usage Guideline: 706_001_03_seev_031_001_08
Base Message: seev.031.001.08
Date of publication: 05 August 2019
URL: https://www2.swift.com/mystandards/#/mp/mx/_dJZZAEQwEem9vt0I7WOEnw/_iKOV4UnTEem-29P4ikWOrw
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-08-05T23:07:57+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.031.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.031.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides account identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdCd" type="SafekeepingAccountIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standard code to specify that announcement applies to all safekeeping accounts that own underlying financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification32Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification32Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between all accounts (GENR - General in ISO 15022) or one or more selected accounts and balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ForAllAccts" type="AccountIdentification10">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ForAllAccounts</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">All safekeeping accounts that own underlying financial instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AUD</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, for example, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashOption56__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashOption56__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the cash option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value is a debit or a credit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtDtls" type="CorporateActionDate62__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the dates related to a cash movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms24__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate between the amount and the resulting amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="RateDetails31__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RateAndAmountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the corporate action option.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateAction41__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateAction41__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate61__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the dates related to a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RestrictionIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is restrictions apply to the corporate action event or not.
Yes = There is restrictions.
No = There is no restrictions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate61__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionDate61__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies corporate action dates.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnncmntDt" type="DateFormat43Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnnouncementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the issuer announced that a corporate action event will occur.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FctvDt" type="DateFormat43Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which an event is officially effective from the issuer's perspective.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcrdDt" type="DateFormat43Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecordDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which positions are struck at the end of the day to note which parties will receive the relevant amount of entitlement, due to be distributed on payment date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExDvddDt" type="DateFormat43Choice__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExDividendDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time as from which trading (including exchange and OTC trading) occurs on the underlying security without the benefit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat43Choice__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the movement is due to take place (cash and/or securities).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate62__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionDate62__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies corporate action dates.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtDt" type="DateFormat43Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time on which the movement is due to take place (cash and/or securities).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventProcessingType1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventProcessingType1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of event processing.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reorganisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying security will be debited and may be replaced by another resource (or resources).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventProcessingType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventProcessingType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code or a proprietary code for specifying the processing type of a corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventProcessingType1Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the processing type of a corporate action event.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventStatus1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventStatus1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The process of notifying of an upcoming corporate action. It provides corporate action details including the different options.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCmpltnsSts" type="EventCompletenessStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCompletenessStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the details provided about an event are complete or incomplete.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtConfSts" type="EventConfirmationStatus1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventConfirmationStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the status of the occurrence of an event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType26Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType26Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the corporate action event type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DecreaseInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reduction of face value of a single share or the value of fund assets. The number of circulating shares/units remains unchanged. This event may include a cash payout to holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType76Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType76Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats to express the corporate event type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType26Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Event type expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation125__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation125__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the account servicer to unambiguously identify a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OffclCorpActnEvtId" type="OfficialCorpActionId_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfficialCorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Official and unique reference assigned by the official central body/entity within each market at the beginning of a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtPrcgTp" type="CorporateActionEventProcessingType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventProcessingType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of processing involved by a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtTp" type="CorporateActionEventType76Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MandatoryVoluntaryEventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the event is mandatory, mandatory with options or voluntary.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UndrlygScty" type="FinancialInstrumentAttributes79__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security concerned by the corporate action.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionMandatoryVoluntary1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the event is mandatory, mandatory with options or voluntary.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mandatory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participation in CA event is mandatory. Further instructions from the account owner are not required.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionMandatoryVoluntary3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code or a proprietary code to indicate if a corporate action event is mandatory or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify whether the event is mandatory, mandatory with options or voluntary.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative27__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative27__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information such as the taxation conditions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxt" type="UpdatedAdditionalInformation8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalText</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information or specifies in more detail the content of a message. This field may only be used when the information to be transmitted, cannot be coded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NrrtvVrsn" type="UpdatedAdditionalInformation8__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NarrativeVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information that can be ignored for automated processing; - reiteration of information that has been included within structured fields, - or narrative information not needed for automatic processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InfConds" type="UpdatedAdditionalInformation8__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InformationConditions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides conditional information related to the event, for example, an offer is subject to 50 percent acceptance, the offeror allows the securities holder to set some conditions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InfToCmplyWth" type="UpdatedAdditionalInformation8__4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InformationToComplyWith</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information conditions to the account owner that are to be complied with, for example, not open to US/Canadian residents, Qualified Institutional Buyers (QIB) or SIL (Sophisticated Investor Letter) to be provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNotification5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotification5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Corporate action event notification status and contents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnTp" type="CorporateActionNotificationType1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrcgSts" type="CorporateActionProcessingStatus5Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the details of the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionNotificationType1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationType1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of notification advice.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Replacement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notification replacing a previously sent notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionNotificationV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends the CorporateActionNotification message to an account owner or its designated agent to notify details of a corporate action event and optionally account information, eligible balance and entitlements.&#13;&#13;
It may also include possible elections or choices available to the account owner. The account servicer can initially send the CorporateActionNotification message as a preliminary advice, subsequently replaced by another CorporateActionNotification message with complete or confirmed information.&#13;&#13;
It may also be sent to an account owner or its designated agent, to remind of event details and/or of missing or incomplete instructions for a corporate action event.&#13;
Usage&#13;
The message may also be used to:&#13;
- re-send a message previously sent (the sub-function of the message is Duplicate),&#13;
- provide a third party with a copy of a message for information (the sub-function of the message is Copy),&#13;
- re-send to a third party a copy of a message for information (the sub-function of the message is Copy Duplicate),&#13;
using the relevant elements in the business application header (BAH).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnGnlInf" type="CorporateActionNotification5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the event notification type, status and contents.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsNtfctnId" type="DocumentIdentification31__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousNotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a previously sent notification document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation125__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctDtls" type="AccountIdentification32Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the safekeeping account, owner and account balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateAction41__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpActnOptnDtls" type="CorporateActionOption138__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionOptionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the corporate action option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative27__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SplmtryData" type="SupplementaryData1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption138__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionOption138__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the corporate action option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OptnNb" type="Exact3NumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number identifying the available corporate action options.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OptnTp" type="CorporateActionOption18Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the corporate action options available to the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the cash disbursed from an interest or dividend payment is offered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DfltPrcgOrStgInstr" type="DefaultProcessingOrStandingInstruction1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DefaultProcessingOrStandingInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the corporate action movement is a default processing or a standing instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption56__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashMovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the cash movement linked to the corporate action option.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption18Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionOption18Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code or a proprietary code to specify the type of corporate action options.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionOption7Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the type of corporate action options.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption7Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionOption7Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of corporate action options.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option to choose cash.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionProcessingStatus5Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionProcessingStatus5Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the details of the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventStatus1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the details of the corporate action event.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode19Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateCode19Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code for a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType8Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the type of date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat43Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTime2Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat43Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTime2Choice__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtCd" type="DateCode19Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice__3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat43Choice__3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTime2Choice__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType8Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType8Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dates.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DefaultProcessingOrStandingInstruction1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DefaultProcessingOrStandingInstruction1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between default processing or standing instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DfltOptnInd" type="YesNoIndicator_fixed">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DefaultOptionIndicator</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates whether the option, for example, currency option, will be selected by default if no instruction is provided by the account owner.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnNtfctn" type="CorporateActionNotificationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification31__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification31__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a document and type of link.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventCompletenessStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventCompletenessStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates whether the details provided about an event are complete or incomplete.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event details are complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Incomplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event details are not complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventConfirmationStatus1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventConfirmationStatus1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the status of the occurrence of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Confirmed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Occurrence of the event has been confirmed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3NumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">001</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes79__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributes79__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Description of the financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentText_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentText_ASX_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the data type for the ASX proprietary financial instrument identification text, with a minimum length of 3 and a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTerms24__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTerms24__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the terms of the foreign exchange transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotedCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which the base currency is converted, in a currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Factor used for the conversion of an amount from one currency into another. This reflects the price at which one currency was bought with another currency.
Usage: ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltgAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResultingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counter value of a foreign exchange conversion.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat30Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GrossDividendRateFormat30Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount or an unspecified rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InstrumentIdentificationType_ASX_1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InstrumentIdentificationType_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstrumentIdentificationType_ASX_1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">INFO</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer is INFO.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1025Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1025 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4025Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4025Text</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max50Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 50 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OfficialCorpActionId_ASX_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OfficialCorpActionId_ASX_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a 16 character Identifier with a pattern of 2 upper case text and 14 numeric text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="FinancialInstrumentText_ASX_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateDetails31__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RateDetails31__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the rates related to securities movement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrssDvddRate" type="GrossDividendRateFormat30Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossDividendRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash dividend amount per equity before deductions or allowances have been made.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the account identification via a code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">General</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Announcement applies to all safekeeping accounts that own underlying financial instrument. (Used for general or preliminary announcements.).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrId" type="OtherIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Desc" type="Max50Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="evnt706_SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDesc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amendments made to the narrative since the last message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation8__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation8__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation8__3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation8__3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UpdDesc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amendments made to the narrative since the last message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date at which the narrative has been updated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation8__4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation8__4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max4025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="true">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">true</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="evnt706_SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">evnt706_SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information. &#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="urn:asx:xsd:xasx.706.001.03" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
